<div class="fixed z-10 inset-0 overflow-y-auto bg-white/70 dark:bg-black/70">
  <div class="flex items-center justify-center min-h-screen">
    <div class="bg-white dark:bg-slate-800 rounded-lg shadow-lg p-8">
      <h2 class="text-2xl font-bold mb-4 text-center dark:text-gray-100">Encuestado</h2>
      <form class="grid grid-cols-2 gap-4 items-center place-content-center" action="#" [formGroup]="form" #frmCategoria ="ngForm" (ngSubmit)="operar()">
        <div [hidden]="true">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-100"
            >Id</label
          >
          <input
            type="id"
            name="id"
            id="id"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Id"
            required
            formControlName="id"
          />
        </div>

        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-100"
            >CI</label
          >
          <input
            type="email"
            name="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Categoria"
            required
            formControlName="ci"
          />
        </div>
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-100"
            >NOMBRE</label
          >
          <input
            type="email"
            name="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Categoria"
            required
            formControlName="nombre"
          />
        </div>

        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-100"
            >SEXO</label
          >
          <input
            type="email"
            name="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Categoria"
            required
            formControlName="sexo"
          />
          <label class="text-xs dark:text-slate-500"> Ingrese solo M o F</label>
        </div>
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-100"
            >EDAD</label
          >
          <input
            type="email"
            name="email"
            id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Categoria"
            required
            formControlName="edad"
          />
          <label class="text-transparent">sadasd</label>
        </div>

        <button
          type="submit"
          class="w-full text-white disabled:opacity-75  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          [disabled]="frmCategoria.invalid"
        >
          <h1>Añadir Encuestado</h1>
        </button>
        <button
          type="submit"
          class="w-full text-black disabled:opacity-75  bg-slate-200 hover:bg-slate-300 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          routerLink="/encuestado"
        >
          <h1>Cancelar</h1>
        </button>

      </form>

    </div>
  </div>
</div>
